:root {
    --Bright-Gray: #E5E9EB; /** Borde del card*/
    --overall-font-size: 62.5% ;
}
html {
    /** Restale vlor de 1rem a base 10, es decir: 1rem = 1opx */
    font-size: var( --overall-font-size);
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.nav-link {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    background-color: rgba(247, 201, 117, 0.993);
    justify-content: space-between;
    height: 9rem;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}
h1.name-empresa {
    font-size: 2rem;
    font-weight: bold;
}
.logo {
    display: flex;
    align-items: center;
} 
.logo img {
    height: 4rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
}
.nav-header {
    padding: 1rem 0;
}
/* .section-sobre-nosotros {
    position: relative;
    } */

.section-delivery {
    height: 20rem;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
}
.delivery-container1 {

}
.delivery-container2 {
    padding: 1rem 6rem 3rem 6rem;
    font-weight: bold;
}
button.button-delivery {
    height: 4rem;
    background-color: rgba(255, 190, 69, 0.993);
    border-color: rgb(236, 232, 227);
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.delivery-link {
    text-decoration: none;
    color: black;
}
.section-sobre-nosotros {
    position: relative;
}
img.img-1 {
    position: relative;
    width: 100%;
    height: 25rem;
}
.sobre-nosotros {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: rgba(0,0,0,.7);
    height: 25rem;
    width: 100%;
}
p.p-sobre-nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8rem;
    font-size: 1.9rem;
    color: white;
    padding: 0 6rem;
    margin: 0 auto;
    text-align: center;
}
h1.title-1 {
    padding: 1rem 0 2rem 0rem;
    color: white;
    font-size: 3rem;
    margin: 0 auto;
}

nav a{
    font-weight: 600;
    padding-right: 1rem;
}
nav a:hover {
    color: whitesmoke;
}
.title-1 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.container {
    max-width: 96vw;
    margin: 0 auto;
    padding: 0 .8rem;
    box-sizing: border-box;    

}
.container-fluid {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    height: 25rem;
}
/* .container-menu {
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;

} */
.section-menu
.main-card {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    padding-left: 1.5rem ;
    max-width: 100%;
    margin: 1.5rem;
    font-size: 2.2rem;
    font-weight: bold;
    border-radius: 1rem;
}
.main-filter {
    background-color: antiquewhite;
}
.products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    box-shadow: 20px;

}
.card {
    display: flex;
    gap: .5rem;
    height: 18rem;
}
.card__image {
    display: flex;
    position: relative;
    height: 20rem;
}
.product-image {
    border-radius: .5rem;
    object-fit: cover;
    height: 18rem;
    border: 1px solid antiquewhite;
    width: 18rem;
    box-sizing: border-box;
}
.card__info {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0px 1.5rem 0 1.5rem;;
    border: 2px solid;
    border-color: rgba(167, 157, 141, 0.993);
    border-radius: 0.5rem;
    width: 100%;
    height: 18rem;
    text-align: center;
    gap: 1rem;
    box-sizing: border-box;
}
#botton-menu {
    text-align: center;
}
button.button-menu {
    height: 4rem;
    width: 10rem;
    background-color: rgba(255, 190, 69, 0.993);
    border-color: rgb(236, 232, 227);
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.menu-link {
    text-decoration: none;
    color: black;
}
.section-ubicacion {
    height: 1rem 0;
}
footer {
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    height: 10rem;
    flex-direction: row;
}
.iconos-redes {
    padding: 1rem;
    height: 2rem;
}
.footer-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.nav-link:hover {
    color: whitesmoke;
}
/** 567px --> 767px */
@media ( min-width: 567px ) {
    .container {
        max-width: 54rem;
        padding: 0 1.6rem;
    }
    
}
/** 768px --> 1023px */
@media ( min-width: 768px ) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
}
/** 1024px --> 1999px */
@media ( min-width: 1024px ) {
    .container {
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }
}
/** 1200px --> 1399px */
@media ( min-width: 1200px ) {
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }
}
/** 1400px --> 1599px */
@media ( min-width: 1400px ) {
    .container {
        max-width: 132rem;
        padding: 0 4.8rem;
    }
}
/** 1600px --> 1919px */
@media ( min-width: 1600px ) {
    .container {
        max-width: 144rem;
        padding: 0 5.6rem;
    }
}
/** 1920px --> 2159px */
@media ( min-width: 1920px ) {
    .container {
        max-width: 160rem;
        padding: 0 6.4rem;
    }
}
/** 2160px --> 2459px */
@media ( min-width: 2160px ) {
    .container {
        max-width: 176rem;
        padding: 0 7.2rem;
    }
}
/** 2160px --> more */
@media ( min-width: 2560px ) {
    .container {
        max-width: 192rem;
        padding: 0 8rem;
    }
}